*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-synthesis: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  font-style: italic;
}

video {
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

blockquote {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote cite {
  font-style: normal;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

select option {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
}

:focus-visible {
  outline: 0.125rem solid currentColor;
  outline-offset: 0.25rem;
}