//* -- scss variables colors - - - -

$black-06: #0F0F0F;
$black-08: #141414;
$black-09: #171717;
$black-10: #1A1A1A;
$black-12: #1F1F1F;
$black-15: #262626;
$black-20: #333333;

$grey-60: #999999;
$grey-75: #BFBFBF;

$absolute-white: #fff;
$primary-color:  #E50000;
$primary-color-dark:#9d0000;

:root {
	scroll-behavior: smooth;

//* -- css + scss variables colors - - - -

	--black-06: #{$black-06};
	--black-08: #{$black-08};
	--black-09: #{$black-09};
	--black-10: #{$black-10};
	--black-12: #{$black-12};
	--black-15: #{$black-15};
	--black-20: #{$black-20};

	--grey-60: #{$grey-60};
	--grey-75: #{$grey-75};
	
	--absolute-white: #{$absolute-white};
	--primary-color: #{$primary-color};
	--primary-color-dark: #{$primary-color-dark};
}