@use "sass:math";
@import "functions.scss";
@import "mixins.scss";

@import "components/reusable/swiper-component";
@import "components/reusable/card-component";
@import "components/reusable/hero-component";
@import "components/reusable/spoilers-component";
@import "components/reusable/rating-component";



.page-components {
	padding-block: toRem(150);

	@media (max-width: toEm(767.98)) {
		padding-block-start: toRem(100);
	}
}







.section-component {
	// padding-block: toRem(100);
	&__container {
		> * {
			margin-block-end: toRem(100);
		}

		> :last-child {
			margin-block-end: 0;
		}

		> .section-header:last-child {
			padding-block-end: toRem(100);
			border-block-end: toRem(3) solid var(--black-15);
		}
	}
}


//* - - section-card-component - - - - - - - - - - - - -
.section-card {
	padding-block: toRem(40);
	// .section-card__container
	&__container {
		> * {
			padding-block-end: toRem(50);
			border-block-end: toRem(1) solid var(--black-15);
			margin-block-end: toRem(50);
		}

		> :last-child {
			margin-block-end: 0;
		}
	}
	&__categories-padding {
		padding-inline: toRem(50);
	}
	&__categories-small {
		display: flex;
		column-gap: toRem(12);
		justify-content: space-between;
	}
	&__categories-big {
		display: flex;
		column-gap: clamp(1rem, 0.222rem + 1.62vw, 1.875rem);
		// viewport from 767 to 1630 / values from 16 to 30
		justify-content: space-between;
	}

	&__poster {
		display: flex;
		column-gap: toRem(12);
		justify-content: space-between;
	}
	&__poster-big {
		display: flex;
		column-gap: toRem(12);
		justify-content: space-between;
	}
}



// //* - - rating-component - - - - - - - - - - - - -
// .rating {
// 	--star-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
// 	// viewport from 767 to 1630 / values from 14 to 18
// 	--stars-count: 5;
// 	--rating-width: calc(var(--star-size) * var(--stars-count));

// 	padding: toRemValues(4.4 6);
// 	@include borderStyle(50, 1, var(--black-15));

// 	display: flex;
// 	align-items: center;
// 	column-gap: toRem(4);
// 	line-height: 1;

// 	@media (min-width: toEm(767.98)) {
// 		padding: toRemValues(6 8);
// 	}

// 	// .rating--big
// 	&--big {
// 		--star-size: clamp(1.125rem, 0.792rem + 0.7vw, 1.5rem);
// 		// viewport from 767 to 1630 / values from 18 to 24

// 		padding: 0;
// 		// border-radius: 0;
// 		border: none;
// 	}

// 	// .rating__body
// 	&__body {
// 		position: relative;

// 		inline-size: var(--rating-width);
// 		block-size: var(--star-size);

// 		background-color: var(--grey-60);

// 		mask: url("../icons/cards/rating.svg") repeat-x left center / var(--star-size) var(--star-size);

// 		-webkit-mask: url("../icons/cards/rating.svg") repeat-x left center / var(--star-size) var(--star-size);
// 	}

// 	// .rating__active
// 	&__active {
// 		position: absolute;
// 		inset: 0;
// 		overflow: hidden;

// 		background-color: var(--primary-color);

// 		mask: inherit;
// 		-webkit-mask: inherit;
// 	}

// 	// .rating__items
// 	&__items {
// 		display: flex;
// 		position: absolute;
// 		inset: 0;
// 	}

// 	// .rating__item
// 	&__item {
// 		flex: 0 0 calc(100% / var(--stars-count));
// 		// opacity: 0;
// 	}

// 	// .rating__value
// 	&__value {
// 		color: var(--grey-60);
// 		font-weight: 500;
// 		line-height: 1;
// 		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
// 		// viewport from 767 to 1630 / values from 12 to 16
// 	}
// }

//* - - hero-component - - - - - - - - - - - - -
.show-hero {
	padding-block: toRem(120);
}

// .inner-hero {
// 	&--padding-start {
// 		padding-block-start: clamp(5.625rem, 1.181rem + 9.27vw, 10.625rem);
// 		// viewport from 767 to 1630 / values from 90 to 170
// 		padding-block-end: clamp(3.75rem, 1.528rem + 4.63vw, 6.25rem);
// 		// viewport from 767 to 1630 / values from 60 to 100
// 	}
// 	// .inner-hero__container
// 	&__container {
// 	}

// 	// .inner-hero__swiper
// 	&__swiper {
// 		position: relative;
// 	}
// 	// .inner-hero__slide
// 	&__slide {
// 		> .inner-hero__body {
// 			padding: toRemValues(20 16 60);

// 			@media (max-width: toEm(375.98)) {
// 				padding: toRemValues(20 12 42);
// 			}

// 			@media (min-width: toEm(567.98)) {
// 				padding: toRemValues(40 40 100);
// 			}
// 			@media (min-width: toEm(1200.98)) {
// 				padding: toRemValues(50 50 120);
// 			}
// 		}
// 	}

// 	// .inner-hero__body
// 	&__body {
// 		position: relative;

// 		display: flex;
// 		justify-content: flex-end;
// 		align-items: center;
// 		flex-direction: column;

// 		text-align: center;

// 		padding: toRemValues(20 16);

// 		@media (max-width: toEm(375.98)) {
// 			padding: toRemValues(20 12);
// 		}

// 		@media (max-width: toEm(567.98)) {
// 			aspect-ratio: 358 / 468;
// 		}

// 		@media (min-width: toEm(567.98)) {
// 			min-block-size: toRem(400);
// 			block-size: 59.05dvh;
// 			padding: toRem(40);
// 		}
// 		@media (min-width: toEm(1200.98)) {
// 			padding: toRem(50);
// 			block-size: 70.5dvh;
// 		}
// 		@media (min-width: toEm(1630.98)) {
// 			min-block-size: toRem(835);
// 		}

// 		&::after {
// 			content: "";
// 			position: absolute;
// 			z-index: -1;
// 			inset-block-start: 0;
// 			inset-inline-start: 0;

// 			@include sizesToPercent(100%);
// 			// inline-size% / block-size%

// 			background: linear-gradient(0deg, var(--black-08) 0%, rgba(20, 20, 20, 0) 100%) 20% / cover no-repeat;
// 		}
// 	}

// 	// .inner-hero__content
// 	&__content {
// 		width: 100%;
// 	}
// 	// .inner-hero__header
// 	&__header {
// 		&:not(:last-child) {
// 			margin-block-end: clamp(1.25rem, 0.917rem + 0.94vw, 1.875rem);
// 			// viewport from 567 to 1630 / values from 20 to 30
// 		}
// 	}
// 	// .inner-hero__title
// 	&__title {
// 		--animation-delay: 0.2s;

// 		line-height: 1.2;
// 		@media (min-width: toEm(567.98)) {
// 			margin-block-end: toRem(4);
// 		}
// 	}
// 	// .inner-hero__text
// 	&__text {
// 		--animation-delay: 0.4s;

// 		margin-inline: auto;
// 		max-width: toRem(1200);

// 		@media (max-width: toEm(567.98)) {
// 			display: none;
// 		}
// 	}
// 	// .inner-hero__actions
// 	&__actions {
// 	}
// 	// .inner-hero__navigation
// 	&__navigation {
// 		--animation-delay: 1.4s;
// 	}
// 	// .inner-hero__img
// 	&__img {
// 		border-radius: toRem(16);

// 		position: absolute;
// 		z-index: -2;
// 		inset-block-start: 0;
// 		inset-inline-start: 0;

// 		@include sizesToPercent(100%);
// 		// inline-size% / block-size%
// 		object-fit: cover;

// 		img {
// 			@include sizesToPercent(100%);
// 		}
// 	}
// }

// .actions-inner-hero {
// 	display: flex;
// 	justify-content: center;

// 	gap: toRem(20);

// 	@media (max-width: toEm(567.98)) {
// 		flex-direction: column;
// 		width: 100%;
// 		align-items: center;
// 		row-gap: clamp(0.875rem, 0.143rem + 3.13vw, 1.25rem);
// 		// viewport from 375 to 567 / values from 14 to 20
// 	}

// 	&__button-wrapper {
// 		--animation-delay: 0.6s;

// 		@media (max-width: toEm(567.98)) {
// 			width: 100%;
// 		}
// 		> .actions-inner-hero__button {
// 			height: 100%;
// 		}
// 	}

// 	// .actions-inner-hero__button
// 	&__button {
// 		@media (max-width: toEm(567.98)) {
// 			width: 100%;
// 			padding-block: toRem(14);
// 		}

// 		@media (min-width: toEm(567.98)) {
// 			padding-block: toRem(8);
// 		}
// 	}
// 	// .actions-inner-hero__buttons-group
// 	&__buttons-group {
// 	}
// }

// .actions-group-button {
// 	display: flex;
// 	align-items: center;
// 	gap: toRem(8);

// 		// .actions-group-button__item-wrapper
// 	&__item-wrapper {
// 		transform: translateY(20%);
// 		opacity: 0;

// 		transition:
// 			opacity 0.6s ease-out,
// 			transform 0.6s ease-out;

// 		.animate & {
// 			transform: translateY(0);
// 			opacity: 1;

// 			&:nth-child(1) {
// 				transition-delay: 0.8s;
// 			}
// 			&:nth-child(2) {
// 				transition-delay: 1s;
// 			}
// 			&:nth-child(3) {
// 				transition-delay: 1.2s;
// 			}
// 		}
// 	}

// 	// .actions-group-button__item
// 	&__item {
// 		background-color: var(--black-06);
// 		border-color: var(--black-15);
// 	}
// }

// .navigation-inner-hero {
// 	position: absolute;
// 	inset-block-end: 2.39521%; /* 20/835 */
// 	inset-inline-start: 0;
// 	z-index: 10;

// 	padding: toRemValues(6 50);

// 	display: flex;
// 	justify-content: space-between;

// 	width: 100%;

// 	// .navigation-inner-hero__button
// 	&__button {
// 		background-color: var(--black-06);
// 		border-color: var(--black-15);

// 		@media (max-width: toEm(567.98)) {
// 			display: none;
// 		}
// 	}

// 	&__bullets {
// 		padding: 0;

// 		.swiper-pagination-bullet {
// 			flex: 0 0 toRem(18);
// 			// grow / shrink / basis

// 			@media (max-width: toEm(567.98)) {
// 				flex: 0 0 toRem(16);
// 			}
// 		}

// 		.swiper-pagination-bullet-active {
// 			flex: 0 0 toRem(36);
// 			// grow / shrink / basis

// 			@media (max-width: toEm(567.98)) {
// 				flex: 0 0 toRem(28);
// 			}
// 		}
// 	}
// }

// //* - - spoilers-component - - - - - - - - - - - - -
// .spoilers {
// 	// .spoilers__columns
// 	&__columns {
// 		counter-reset: number;

// 		display: grid;
// 		grid-template-columns: 1fr;
// 		column-gap: clamp(1rem, -9.174rem + 13.91vw, 5rem);
// 		// viewport from 1170 to 1630 / values from 16 to 80

// 		@media (min-width: toEm(896.98)) {
// 			grid-template-columns: repeat(2, 1fr);
// 		}
// 	}
// 	// .spoilers__column
// 	&__column {
// 		@media (min-width: toEm(896.98)) {
// 			> * {
// 				margin-block-end: toRem(12);
// 			}
// 			> :last-child {
// 				margin-block-end: 0;
// 			}
// 		}

// 		transform: translateY(20%);
// 		opacity: 0;

// 		transition:
// 			opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
// 			transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

// 		.animate & {
// 			transform: translateY(0);
// 			opacity: 1;

// 			@for $i from 1 through 2 {
// 				$delay: $i * 0.1; // Крок затримки (0.2s, 0.4s, 0.6s і т.д.)

// 				&:nth-child(#{$i}) {
// 					transition-delay: #{$delay}s;
// 				}
// 			}
// 		}
// 	}
// }
// .spoiler {
// 	position: relative;

// 	padding: toRemValues(20 10);

// 	display: flex;
// 	align-items: center;
// 	column-gap: toRem(24);

// 	transition: background-color 0.4s ease-out;

// 	@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 		padding: toRem(24);
// 	}

// 	@media (min-width: toEm(1630)) {
// 		padding: toRemValues(30 34);
// 	}
// 	@media (min-width: toEm(767.98)) {
// 		border-radius: toRem(10);
// 		@media (any-hover: hover) {
// 			&:hover {
// 				background-color: var(--black-10);
// 			}
// 		}
// 	}

// 	&::after {
// 		content: "";
// 		position: absolute;
// 		inset-block-end: 0;
// 		inset-inline-start: 0;

// 		@include logicalSizes(100%, toRem(1.2));
// 		// inline-size / block-size

// 		background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #e50000 50%, rgba(229, 0, 0, 0) 100%);

// 		@media (min-width: toEm(896.98)) {
// 			inset-block-end: toRem(-6);
// 		}
// 	}

// 	// .spoiler__details
// 	&__details {
// 		flex-grow: 1;
// 	}
// 	// .spoiler__summary
// 	&__summary {
// 		color: var(--white);
// 		border-radius: toRem(2);

// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		column-gap: toRem(20);

// 		// spoiler__summary-content
// 		&-content {
// 			display: inline-flex;
// 			// justify-content: center;
// 			align-items: center;
// 			column-gap: clamp(0.75rem, 0.083rem + 1.39vw, 1.5rem);
// 			// viewport from 767 to 1630 / values from 12 to 24
// 		}

// 		// spoiler__summary-number
// 		&-number {
// 			flex-shrink: 0;
// 			align-self: flex-start;

// 			width: clamp(2.813rem, 1.646rem + 2.43vw, 4.125rem);
// 			// viewport from 767 to 1630 / values from 45 to 66
// 			aspect-ratio: 1 / 1;

// 			display: inline-flex;
// 			justify-content: center;
// 			align-items: center;

// 			font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
// 			// viewport from 767 to 1630 / values from 16 to 20
// 			font-weight: 600;
// 			line-height: 1;

// 			@include colorScheme(var(--white), var(--black-12));
// 			// color / background-color

// 			@include borderStyle(10, 1, var(--black-20));
// 			// radius / border-width / color / style

// 			&::before {
// 				content: "";
// 				counter-increment: number;
// 				content: counter(number, decimal-leading-zero);
// 			}
// 		}

// 		&-text {
// 			font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.375rem);
// 			// viewport from 767 to 1630 / values from 18 to 22
// 		}

// 		> .-icon-plus {
// 			inline-size: clamp(1.5rem, 1.167rem + 0.7vw, 1.875rem);
// 			// viewport from 767 to 1630 / values from 24 to 30
// 			aspect-ratio: 1 / 1;

// 			display: inline-flex;
// 			justify-content: center;
// 			align-items: center;
// 			font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
// 			// viewport from 767 to 1630 / values from 16 to 20

// 			will-change: transform;
// 			transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
// 		}

// 		@media (any-hover: hover) {
// 			&:hover {
// 				cursor: pointer;
// 			}
// 		}
// 	}

// 	// .spoiler__text
// 	&__body {
// 		// overflow: hidden;
// 		padding-block-start: toRem(20);
// 		// transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
// 		opacity: 0;
// 		transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
// 	}
// }
// .js-spoiler--active {
// 	.spoiler {
// 		&__summary {
// 			.-icon-plus {
// 				transform: rotate(45deg);
// 			}
// 		}

// 		&__body {
// 			opacity: 1;
// 		}
// 	}
// }

// //* - - payment-component - - - - - - - - - - - - -

// .payment {
// 	// .payment__grid
// 	&__grid {
// 		display: grid;
// 		grid-template-columns: 1fr;
// 		row-gap: toRem(20);

// 		@media (min-width: toEm(940.98)) {
// 			grid-template-columns: repeat(3, 1fr);
// 			column-gap: clamp(0.75rem, -0.556rem + 2.22vw, 1.875rem);
// 			// viewport from 940 to 1750 / values from 12 to 30
// 		}
// 	}
// }

// .plan-item {
// 	padding: toRem(24);

// 	background-color: var(--black-10);
// 	@include borderStyle(12, 1, var(--black-15));
// 	// radius / border-width / color / style

// 	display: flex;
// 	justify-content: space-between;
// 	flex-direction: column;
// 	row-gap: toRem(30);

// 	transform: translateY(20%);
// 	opacity: 0;

// 	transition:
// 		opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
// 		transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

// 	.animate & {
// 		transform: translateY(0);
// 		opacity: 1;

// 		@for $i from 1 through 3 {
// 			$delay: $i * 0.1; // Крок затримки (0.2s, 0.4s, 0.6s і т.д.)

// 			&:nth-child(#{$i}) {
// 				transition-delay: #{$delay}s;
// 			}
// 		}
// 	}

// 	@media (min-width: toEm(545.98)) and (max-width: toEm(940.98)) {
// 		padding: clamp(1.5rem, 0.12rem + 4.05vw, 2.5rem);
// 		// viewport from 940 to 545 / values from 40 to 24

// 		flex-direction: row;
// 		column-gap: clamp(0.938rem, -1.439rem + 6.91vw, 1.875rem);
// 		// viewport from 767 to 550 / values from 30 to 15
// 	}

// 	@media (min-width: toEm(940.98)) {
// 		padding: clamp(1.125rem, -1.196rem + 3.95vw, 3.125rem);
// 		// viewport from 1750 to 940 / values from 50 to 18
// 	}

// 	// .plan-item__header
// 	&__header {
// 		@media (min-width: toEm(545.98)) and (max-width: toEm(940.98)) {
// 			flex-basis: 50%;
// 			align-self: center;
// 		}
// 	}
// 	// .plan-item__title
// 	&__title {
// 		display: flex;
// 		align-items: center;
// 		column-gap: toRem(8);
// 		flex-wrap: wrap;

// 		color: var(--white);

// 		font-size: toRem(18);
// 		font-weight: 700;

// 		&:not(:last-child) {
// 			margin-block-end: toEm(10, 18);
// 		}

// 		@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 			font-size: toRem(20);
// 		}

// 		@media (min-width: toEm(1630)) {
// 			font-size: toRem(26);
// 		}
// 		&-label {
// 			padding: toRemValues(4 6);
// 			border-radius: toRem(6);
// 			background-color: var(--primary-color);
// 			font-weight: 500;
// 			font-size: toRem(14);

// 			@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 				font-size: toRem(16);
// 			}

// 			@media (min-width: toEm(1630)) {
// 				font-size: toRem(18);
// 			}
// 		}
// 	}

// 	// .plan-item__footer
// 	&__footer {
// 		@media (min-width: toEm(545.98)) and (max-width: toEm(940.98)) {
// 			flex-basis: 50%;
// 		}
// 	}
// 	// .plan-item__price
// 	&__price {
// 		transform: translateY(0);
// 		transition:
// 			opacity 0.25s ease-out,
// 			transform 0.25s ease-out;

// 		&.price--animate {
// 			opacity: 0;
// 			transform: translateY(6px);
// 		}
// 		&:not(:last-child) {
// 			margin-block-end: toEm(30, 24);
// 		}
// 	}
// 	// .plan-item__price-value
// 	&__price-value {
// 		color: var(--white);

// 		font-size: toRem(24);
// 		font-weight: 600;
// 		line-height: 73%;

// 		@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 			font-size: toRem(30);
// 		}

// 		@media (min-width: toEm(1630)) {
// 			font-size: toRem(40);
// 		}
// 	}

// 	// .plan-item__price-period
// 	&__price-period {
// 		color: var(--grey-60);

// 		font-size: toRem(14);
// 		font-weight: 500;
// 		line-height: 73%;

// 		@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 			font-size: toRem(16);
// 		}

// 		@media (min-width: toEm(1630)) {
// 			font-size: toRem(18);
// 		}
// 	}

// 	// .plan-item__buttons
// 	&__buttons {
// 		display: flex;
// 		column-gap: clamp(0.5rem, -1.136rem + 2.18vw, 1.25rem);
// 		// viewport from 1200 to 1750 / values from 8 to 20

// 		@media (max-width: toEm(1166.98)) {
// 			flex-direction: column;
// 			row-gap: toRem(10);
// 		}

// 		@media (max-width: toEm(940.98)) {
// 			flex-direction: row;
// 		}
// 		@media (max-width: toEm(767.98)) {
// 			flex-direction: column;
// 		}
// 		@media (max-width: toEm(545.98)) {
// 			flex-direction: row;
// 		}
// 		@media (max-width: toEm(399.98)) {
// 			flex-direction: column;
// 		}
// 	}
// 	// .plan-item__button
// 	&__button {
// 		flex: 1 1 auto;
// 		// grow / shrink / basis

// 		font-size: toRem(14);
// 		font-weight: 600;
// 		text-align: center;

// 		padding-block: toEm(14, 14);
// 		padding-inline: toRem(12);
// 		border-radius: toRem(8);

// 		color: var(--white);

// 		will-change: transform;
// 		transition:
// 			color 0.3s ease,
// 			background-color 0.3s ease,
// 			transform 0.05s ease-out;

// 		@media (min-width: toEm(767.98)) and (max-width: toEm(1629.98)) {
// 			font-size: toRem(16);
// 		}

// 		@media (min-width: toEm(1630)) {
// 			font-size: toRem(18);
// 		}

// 		&:active {
// 			transform: scale(0.96);
// 			transition:
// 				transform 0.001s ease-in,
// 				background-color 0.001s ease-in;
// 		}

// 		// .plan-item__button--trial
// 		&--trial {
// 			background-color: var(--black-08);
// 			border: toRem(1) solid var(--black-15);

// 			@media (min-width: toEm(767.98)) {
// 				@media (any-hover: hover) {
// 					&:hover {
// 						background-color: var(--black-20);
// 					}
// 				}
// 			}

// 			&:active {
// 				background-color: var(--black-15);
// 			}
// 		}

// 		// .plan-item__button--plan
// 		&--plan {
// 			background-color: var(--primary-color);

// 			@media (min-width: toEm(767.98)) {
// 				@media (any-hover: hover) {
// 					&:hover {
// 						background-color: var(--primary-color-dark);
// 					}
// 				}
// 			}

// 			&:active {
// 				background-color: var(--primary-color-dark);
// 			}
// 		}
// 	}
// }


