@font-face {
  font-family: 'iconFont';
  src: url('../fonts/iconFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
 
[class*="-icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont';
//   speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-icon-consoles:before {
  content: "\e900";
}
.-icon-laptop:before {
  content: "\e901";
}
.-icon-phone:before {
  content: "\e902";
}
.-icon-tablet:before {
  content: "\e903";
}
.-icon-tv:before {
  content: "\e904";
}
.-icon-vr:before {
  content: "\e905";
}
.-icon-facebook:before {
  content: "\e906";
}
.-icon-linkedin:before {
  content: "\e907";
}
.-icon-twitter:before {
  content: "\e908";
}
.-icon-genres:before {
  content: "\e909";
}
.-icon-language:before {
  content: "\e90a";
}
.-icon-rating:before {
  content: "\e90b";
}
.-icon-release-year:before {
  content: "\e90c";
}
.-icon-seasons:before {
  content: "\e90d";
}
.-icon-series-time:before {
  content: "\e90e";
}
.-icon-time:before {
  content: "\e90f";
}
.-icon-views:before {
  content: "\e910";
}
.-icon-arrow-block:before {
  content: "\e911";
}
.-icon-arrow-left:before {
  content: "\e912";
}
.-icon-arrow-right:before {
  content: "\e913";
}
.-icon-card-arrow:before {
  content: "\e914";
}
.-icon-check:before {
  content: "\e915";
}
.-icon-dark-theme:before {
  content: "\e916";
}
.-icon-light-theme:before {
  content: "\e917";
}
.-icon-like:before {
  content: "\e918";
}
.-icon-notofication:before {
  content: "\e919";
}
.-icon-pause:before {
  content: "\e91a";
}
.-icon-play:before {
  content: "\e91b";
}
.-icon-plus:before {
  content: "\e91c";
}
.-icon-search:before {
  content: "\e91d";
}
.-icon-select:before {
  content: "\e91e";
}
.-icon-volume:before {
  content: "\e91f";
}
