.swiper-wrapper {
  padding-block: 0.125rem;
}
@media (max-width: 56.06125em) {
  .swiper-wrapper:has(+ .scrollbar--component) {
    -webkit-margin-after: clamp(1.25rem, 0.173rem + 3.04vw, 1.875rem);
            margin-block-end: clamp(1.25rem, 0.173rem + 3.04vw, 1.875rem);
  }
}
.swiper-slide {
  height: auto;
  width: auto;
}
.swiper-slide:has(> .card) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-slide:has(> .card) :focus-visible {
  outline: 0.125rem solid var(--primary-color);
  outline-offset: -0.125rem;
}

.bullets--component {
  padding-block: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.bullets--component .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  border-radius: 0.1875rem;
  opacity: 0.6;
  will-change: flex-basis;
  -webkit-transition: opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease;
  transition: opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease;
  transition: flex-basis 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  transition: flex-basis 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease, -ms-flex-preferred-size 0.4s ease;
}
@media (min-width: 56.06125em) and (any-hover: hover) {
  .bullets--component .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
    background-color: var(--primary-color-dark);
    opacity: 1;
  }
}
.bullets--component .swiper-pagination-bullet:active:not(.swiper-pagination-bullet-active) {
  background-color: var(--primary-color-dark);
}
.bullets--component .swiper-pagination-bullet-active {
  -ms-flex-preferred-size: 1.75rem;
      flex-basis: 1.75rem;
  opacity: 1;
}

.scrollbar--component {
  margin-inline: auto;
  background-color: var(--black-20);
  border-radius: 0.1875rem;
  inline-size: 7.5rem;
  block-size: 0.5rem;
}
.scrollbar--component .swiper-scrollbar-drag {
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .scrollbar--component .swiper-scrollbar-drag:hover {
    cursor: pointer;
  }
}
@media (min-width: 56.06125em) {
  .scrollbar:not(.cards-slider__scrollbar, .section-bottom-navigation__scrollbar) {
    display: none;
  }
}

.inner-hero--padding-start {
  -webkit-padding-before: clamp(5.625rem, 1.181rem + 9.27vw, 10.625rem);
          padding-block-start: clamp(5.625rem, 1.181rem + 9.27vw, 10.625rem);
  -webkit-padding-after: clamp(3.75rem, 1.528rem + 4.63vw, 6.25rem);
          padding-block-end: clamp(3.75rem, 1.528rem + 4.63vw, 6.25rem);
}
.inner-hero__swiper {
  position: relative;
}
.inner-hero__slide > .inner-hero__body {
  padding: 1.25rem 1rem 3.75rem;
}
@media (max-width: 23.49875em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 1.25rem 0.75rem 2.625rem;
  }
}
@media (min-width: 35.49875em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 2.5rem 2.5rem 6.25rem;
  }
}
@media (min-width: 75.06125em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 3.125rem 3.125rem 7.5rem;
  }
}
.inner-hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1.25rem 1rem;
}
@media (max-width: 23.49875em) {
  .inner-hero__body {
    padding: 1.25rem 0.75rem;
  }
}
@media (max-width: 35.49875em) {
  .inner-hero__body {
    aspect-ratio: 358/468;
  }
}
@media (min-width: 35.49875em) {
  .inner-hero__body {
    min-block-size: 25rem;
    block-size: 59.05dvh;
    padding: 2.5rem;
  }
}
@media (min-width: 75.06125em) {
  .inner-hero__body {
    padding: 3.125rem;
    block-size: 70.5dvh;
  }
}
@media (min-width: 101.93625em) {
  .inner-hero__body {
    min-block-size: 52.1875rem;
  }
}
.inner-hero__body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--black-08)), to(rgba(20, 20, 20, 0))) 20%/cover no-repeat;
  background: linear-gradient(0deg, var(--black-08) 0%, rgba(20, 20, 20, 0) 100%) 20%/cover no-repeat;
}
.inner-hero__content {
  width: 100%;
}
.inner-hero__header:not(:last-child) {
  -webkit-margin-after: clamp(1.25rem, 0.917rem + 0.94vw, 1.875rem);
          margin-block-end: clamp(1.25rem, 0.917rem + 0.94vw, 1.875rem);
}
.inner-hero__title {
  --animation-delay: 0.2s;
  line-height: 1.2;
}
@media (min-width: 35.49875em) {
  .inner-hero__title {
    -webkit-margin-after: 0.25rem;
            margin-block-end: 0.25rem;
  }
}
.inner-hero__text {
  --animation-delay: 0.4s;
  margin-inline: auto;
  max-width: 75rem;
}
@media (max-width: 35.49875em) {
  .inner-hero__text {
    display: none;
  }
}
.inner-hero__navigation {
  --animation-delay: 1.4s;
}
.inner-hero__img {
  border-radius: 1rem;
  position: absolute;
  z-index: -2;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner-hero__img img {
  inline-size: 100%;
  block-size: 100%;
}

.actions-inner-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: clamp(0.875rem, 0.143rem + 3.13vw, 1.25rem);
  }
}
.actions-inner-hero__button-wrapper {
  --animation-delay: 0.6s;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero__button-wrapper {
    width: 100%;
  }
}
.actions-inner-hero__button-wrapper > .actions-inner-hero__button {
  height: 100%;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero__button {
    width: 100%;
    padding-block: 0.875rem;
  }
}
@media (min-width: 35.49875em) {
  .actions-inner-hero__button {
    padding-block: 0.5rem;
  }
}

.actions-group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.actions-group-button__item-wrapper {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.animate .actions-group-button__item-wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.animate .actions-group-button__item-wrapper:nth-child(1) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate .actions-group-button__item-wrapper:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.animate .actions-group-button__item-wrapper:nth-child(3) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.actions-group-button__item {
  background-color: var(--black-06);
  border-color: var(--black-15);
}

.navigation-inner-hero {
  position: absolute;
  inset-block-end: 2.39521%; /* 20/835 */
  inset-inline-start: 0;
  z-index: 10;
  padding: 0.375rem 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.navigation-inner-hero__button {
  background-color: var(--black-06);
  border-color: var(--black-15);
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__button {
    display: none;
  }
}
.navigation-inner-hero__bullets {
  padding: 0;
}
.navigation-inner-hero__bullets .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.125rem;
          flex: 0 0 1.125rem;
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__bullets .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1rem;
            flex: 0 0 1rem;
  }
}
.navigation-inner-hero__bullets .swiper-pagination-bullet-active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.25rem;
          flex: 0 0 2.25rem;
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__bullets .swiper-pagination-bullet-active {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
  }
}

.navigation-header {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
  border-radius: 1rem;
  border: 0.0625rem solid var(--black-12);
  background-color: var(--black-06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
     -moz-column-gap: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
          column-gap: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
}
.navigation-header--bullets-container {
  display: grid;
  grid-template-columns: auto clamp(10.625rem, -6.6667vw + 17.4167rem, 12.5rem) auto;
}
@media (max-width: 56.06125em) {
  .navigation-header {
    display: none;
  }
}
.navigation-header__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card {
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
  background-color: var(--black-10);
  -webkit-transition: border-color 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
  transition: border-color 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, border-color 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, border-color 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .card:hover {
    cursor: pointer;
    border-color: var(--primary-color);
  }
  .card:hover .card-footer__button {
    background-color: var(--primary-color);
  }
}
.card--categories-padding {
  padding: clamp(1.25rem, 0.695rem + 1.16vw, 1.875rem);
}
.card--poster-padding {
  padding: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
}
.card__images--categories {
  position: relative;
}
.card__images--categories::after {
  content: "";
  position: absolute;
  inset-block-end: -0.0625rem;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(rgb(26, 26, 26)));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0), rgb(26, 26, 26) 100%);
}
.card__images--categories:not(:last-child) {
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem;
}
.card__images--categories-small {
  display: grid;
  grid-template-columns: repeat(2, clamp(4.25rem, 2.195rem + 4.29vw, 6.563rem));
  gap: 0.625rem;
}
.card__images--categories-small > .card__image {
  aspect-ratio: 105/123;
  border-radius: clamp(0.375rem, 0.153rem + 0.46vw, 0.625rem);
  overflow: hidden;
}
.card__images--categories-small > .card__image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__images--categories-big {
  display: grid;
  grid-template-columns: repeat(2, clamp(5.625rem, 2.792rem + 5.91vw, 8.813rem));
  gap: 0.625rem;
}
.card__images--categories-big > .card__image {
  aspect-ratio: 141/121;
  border-radius: 0.375rem;
  overflow: hidden;
}
.card__images--categories-big > .card__image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__images--home-page {
  grid-template-columns: repeat(2, clamp(4.188rem, 1.521rem + 5.56vw, 7.188rem));
}
.card .card__image--poster {
  inline-size: clamp(9.813rem, 5.035rem + 9.97vw, 15.188rem);
  aspect-ratio: 243/281;
  border-radius: clamp(0.625rem, 0.514rem + 0.23vw, 0.75rem);
  overflow: hidden;
}
.card .card__image--poster:not(:last-child) {
  -webkit-margin-after: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
          margin-block-end: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
}
.card .card__image--poster img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card__image--poster-big {
  inline-size: clamp(12.938rem, 6.661rem + 13.09vw, 20rem);
  aspect-ratio: 320/404;
  border-radius: clamp(0.625rem, 0.514rem + 0.23vw, 0.75rem);
  overflow: hidden;
}
.card .card__image--poster-big:not(:last-child) {
  -webkit-margin-after: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
          margin-block-end: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
}
.card .card__image--poster-big img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-footer--categories-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
.card-footer--categories-small > .card-footer__title {
  font-size: clamp(0.875rem, 0.542rem + 0.7vw, 1.25rem);
  color: var(--white);
  font-weight: 600;
}
.card-footer--categories-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-footer--categories-big > .card-footer__column > .card-footer__title {
  font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
  color: var(--white);
  font-weight: 600;
}
.card-footer--poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}
.card-footer__duration {
  padding: 0.25rem 0.375rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
  line-height: 1;
}
@media (min-width: 47.99875em) {
  .card-footer__duration {
    padding: 0.375rem 0.5rem;
  }
}
.card-footer__duration > .-icon-time {
  font-size: clamp(0.875rem, 0.597rem + 0.58vw, 1.188rem);
}
.card-footer__views {
  padding: 0.25rem 0.375rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
  line-height: 1;
}
@media (min-width: 47.99875em) {
  .card-footer__views {
    padding: 0.375rem 0.5rem;
  }
}
.card-footer__views > .icon-views {
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
}
.card-footer__release {
  padding: 0.25rem 0.375rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  width: 100%;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
  line-height: 1;
}
@media (min-width: 47.99875em) {
  .card-footer__release {
    padding: 0.375rem 0.5rem;
  }
}
.card-footer__release > .card-footer__release-text-gray {
  color: var(--grey-75);
  font-weight: 500;
}
.card-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-footer__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: clamp(0.375rem, 0.153rem + 0.46vw, 0.625rem);
  border-radius: 0.375rem;
  color: var(--white);
  background-color: var(--primary-color);
  text-align: center;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
  line-height: 1;
  font-weight: 600;
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem;
}
.card-footer__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.card-footer__button--categories {
  inline-size: 1.25rem;
  aspect-ratio: 1/1;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  color: var(--white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
@media (min-width: 47.99875em) {
  .card-footer__button--categories {
    inline-size: 1.5rem;
    font-size: 0.9375rem;
  }
}
@media (min-width: 101.875em) {
  .card-footer__button--categories {
    inline-size: 1.875rem;
    font-size: 1.125rem;
  }
}

.rating {
  --star-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  --stars-count: 5;
  --rating-width: calc(var(--star-size) * var(--stars-count));
  padding: 0.275rem 0.375rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  line-height: 1;
}
@media (min-width: 47.99875em) {
  .rating {
    padding: 0.375rem 0.5rem;
  }
}
.rating--big {
  --star-size: clamp(1.125rem, 0.792rem + 0.7vw, 1.5rem);
  padding: 0;
  border: none;
}
.rating__body {
  position: relative;
  inline-size: var(--rating-width);
  block-size: var(--star-size);
  background-color: var(--grey-60);
  mask: url("../icons/cards/rating.svg") repeat-x left center/var(--star-size) var(--star-size);
  -webkit-mask: url("../icons/cards/rating.svg") repeat-x left center/var(--star-size) var(--star-size);
}
.rating__active {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  mask: inherit;
  -webkit-mask: inherit;
}
.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  inset: 0;
}
.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / var(--stars-count));
          flex: 0 0 calc(100% / var(--stars-count));
}
.rating__value {
  color: var(--grey-60);
  font-weight: 500;
  line-height: 1;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
}

.collection-switcher {
  padding: 0.625rem;
  background-color: var(--black-06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
  -webkit-margin-after: clamp(2.5rem, -0.902rem + 11.36vw, 3.125rem);
          margin-block-end: clamp(2.5rem, -0.902rem + 11.36vw, 3.125rem);
}
@media (max-width: 24.99875em) {
  .collection-switcher {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.5rem;
  }
}
@media (min-width: 35.49875em) {
  .collection-switcher {
    display: none;
  }
}
.collection-switcher__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
  padding: 0.875rem 1.5rem;
  border-radius: 0.375em;
  -webkit-transition: background-color 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.collection-switcher__button--active {
  background-color: var(--black-12);
}

@media (max-width: 35.49875em) {
  .collection__body {
    overflow: hidden;
  }
}
@media (max-width: 35.49875em) {
  .collection__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
.collection__item {
  position: relative;
}
@media (max-width: 35.49875em) {
  .collection__item {
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
  }
  .collection__item--active {
    opacity: 1;
  }
}
@media (min-width: 35.49875em) {
  .collection__item {
    padding-block: clamp(2.5rem, 2.167rem + 0.94vw, 3.125rem);
    padding-inline: clamp(1.5rem, 0.633rem + 2.45vw, 3.125rem);
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--black-15);
  }
  .collection__item:has(+ .collection__item) {
    -webkit-margin-after: clamp(5rem, 2.666rem + 6.59vw, 9.375rem);
            margin-block-end: clamp(5rem, 2.666rem + 6.59vw, 9.375rem);
  }
}
.collection__item > * {
  -webkit-margin-after: clamp(3.125rem, 1.458rem + 4.7vw, 6.25rem);
          margin-block-end: clamp(3.125rem, 1.458rem + 4.7vw, 6.25rem);
}
.collection__item > :last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.collection__label {
  position: absolute;
  inset-block-start: -1.25rem;
  inset-inline-start: 3.125%; /* 40/1280 */
  padding-block: clamp(0.5rem, 0.33rem + 0.29vw, 0.625rem);
  padding-inline: clamp(1.25rem, 0.909rem + 0.58vw, 1.5rem);
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  font-size: clamp(1rem, 0.659rem + 0.58vw, 1.25rem);
  font-weight: 600;
}
@media (max-width: 35.49875em) {
  .collection__label {
    display: none;
  }
}

.genres__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.8125rem;
          flex: 1 1 18.8125rem;
}