.swiper-wrapper {
  padding-block: 0.125rem;
}
@media (max-width: 56.06125em) {
  .swiper-wrapper:has(+ .scrollbar--component) {
    -webkit-margin-after: clamp(1.25rem, 0.173rem + 3.04vw, 1.875rem);
            margin-block-end: clamp(1.25rem, 0.173rem + 3.04vw, 1.875rem);
  }
}
.swiper-slide {
  height: auto;
  width: auto;
}
.swiper-slide:has(> .card) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-slide:has(> .card) :focus-visible {
  outline: 0.125rem solid var(--primary-color);
  outline-offset: -0.125rem;
}

.bullets--component {
  padding-block: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.bullets--component .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  border-radius: 0.1875rem;
  opacity: 0.6;
  will-change: flex-basis;
  -webkit-transition: opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease;
  transition: opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease;
  transition: flex-basis 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  transition: flex-basis 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, -webkit-flex-basis 0.4s ease, -ms-flex-preferred-size 0.4s ease;
}
@media (min-width: 56.06125em) and (any-hover: hover) {
  .bullets--component .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
    background-color: var(--primary-color-dark);
    opacity: 1;
  }
}
.bullets--component .swiper-pagination-bullet:active:not(.swiper-pagination-bullet-active) {
  background-color: var(--primary-color-dark);
}
.bullets--component .swiper-pagination-bullet-active {
  -ms-flex-preferred-size: 1.75rem;
      flex-basis: 1.75rem;
  opacity: 1;
}

.scrollbar--component {
  margin-inline: auto;
  background-color: var(--black-20);
  border-radius: 0.1875rem;
  inline-size: 7.5rem;
  block-size: 0.5rem;
}
.scrollbar--component .swiper-scrollbar-drag {
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .scrollbar--component .swiper-scrollbar-drag:hover {
    cursor: pointer;
  }
}
@media (min-width: 56.06125em) {
  .scrollbar:not(.cards-slider__scrollbar, .section-bottom-navigation__scrollbar) {
    display: none;
  }
}

.inner-hero--padding-start {
  -webkit-padding-before: clamp(5.625rem, 1.181rem + 9.27vw, 10.625rem);
          padding-block-start: clamp(5.625rem, 1.181rem + 9.27vw, 10.625rem);
  -webkit-padding-after: clamp(3.75rem, 1.528rem + 4.63vw, 6.25rem);
          padding-block-end: clamp(3.75rem, 1.528rem + 4.63vw, 6.25rem);
}
.inner-hero__swiper {
  position: relative;
}
.inner-hero__slide > .inner-hero__body {
  padding: 1.25rem 1rem 3.75rem;
}
@media (max-width: 23.49875em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 1.25rem 0.75rem 2.625rem;
  }
}
@media (min-width: 35.49875em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 2.5rem 2.5rem 6.25rem;
  }
}
@media (min-width: 75.06125em) {
  .inner-hero__slide > .inner-hero__body {
    padding: 3.125rem 3.125rem 7.5rem;
  }
}
.inner-hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1.25rem 1rem;
}
@media (max-width: 23.49875em) {
  .inner-hero__body {
    padding: 1.25rem 0.75rem;
  }
}
@media (max-width: 35.49875em) {
  .inner-hero__body {
    aspect-ratio: 358/468;
  }
}
@media (min-width: 35.49875em) {
  .inner-hero__body {
    min-block-size: 25rem;
    block-size: 59.05dvh;
    padding: 2.5rem;
  }
}
@media (min-width: 75.06125em) {
  .inner-hero__body {
    padding: 3.125rem;
    block-size: 70.5dvh;
  }
}
@media (min-width: 101.93625em) {
  .inner-hero__body {
    min-block-size: 52.1875rem;
  }
}
.inner-hero__body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--black-08)), to(rgba(20, 20, 20, 0))) 20%/cover no-repeat;
  background: linear-gradient(0deg, var(--black-08) 0%, rgba(20, 20, 20, 0) 100%) 20%/cover no-repeat;
}
.inner-hero__content {
  width: 100%;
}
.inner-hero__header:not(:last-child) {
  -webkit-margin-after: clamp(1.25rem, 0.917rem + 0.94vw, 1.875rem);
          margin-block-end: clamp(1.25rem, 0.917rem + 0.94vw, 1.875rem);
}
.inner-hero__title {
  --animation-delay: 0.2s;
  line-height: 1.2;
}
@media (min-width: 35.49875em) {
  .inner-hero__title {
    -webkit-margin-after: 0.25rem;
            margin-block-end: 0.25rem;
  }
}
.inner-hero__text {
  --animation-delay: 0.4s;
  margin-inline: auto;
  max-width: 75rem;
}
@media (max-width: 35.49875em) {
  .inner-hero__text {
    display: none;
  }
}
.inner-hero__navigation {
  --animation-delay: 1.4s;
}
.inner-hero__img {
  border-radius: 1rem;
  position: absolute;
  z-index: -2;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner-hero__img img {
  inline-size: 100%;
  block-size: 100%;
}

.actions-inner-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: clamp(0.875rem, 0.143rem + 3.13vw, 1.25rem);
  }
}
.actions-inner-hero__button-wrapper {
  --animation-delay: 0.6s;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero__button-wrapper {
    width: 100%;
  }
}
.actions-inner-hero__button-wrapper > .actions-inner-hero__button {
  height: 100%;
}
@media (max-width: 35.49875em) {
  .actions-inner-hero__button {
    width: 100%;
    padding-block: 0.875rem;
  }
}
@media (min-width: 35.49875em) {
  .actions-inner-hero__button {
    padding-block: 0.5rem;
  }
}

.actions-group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.actions-group-button__item-wrapper {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.animate .actions-group-button__item-wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.animate .actions-group-button__item-wrapper:nth-child(1) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate .actions-group-button__item-wrapper:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.animate .actions-group-button__item-wrapper:nth-child(3) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.actions-group-button__item {
  background-color: var(--black-06);
  border-color: var(--black-15);
}

.navigation-inner-hero {
  position: absolute;
  inset-block-end: 2.39521%; /* 20/835 */
  inset-inline-start: 0;
  z-index: 10;
  padding: 0.375rem 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.navigation-inner-hero__button {
  background-color: var(--black-06);
  border-color: var(--black-15);
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__button {
    display: none;
  }
}
.navigation-inner-hero__bullets {
  padding: 0;
}
.navigation-inner-hero__bullets .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.125rem;
          flex: 0 0 1.125rem;
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__bullets .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1rem;
            flex: 0 0 1rem;
  }
}
.navigation-inner-hero__bullets .swiper-pagination-bullet-active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.25rem;
          flex: 0 0 2.25rem;
}
@media (max-width: 35.49875em) {
  .navigation-inner-hero__bullets .swiper-pagination-bullet-active {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
  }
}

.rating {
  --star-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  --stars-count: 5;
  --rating-width: calc(var(--star-size) * var(--stars-count));
  padding: 0.275rem 0.375rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  line-height: 1;
}
@media (min-width: 47.99875em) {
  .rating {
    padding: 0.375rem 0.5rem;
  }
}
.rating--big {
  --star-size: clamp(1.125rem, 0.792rem + 0.7vw, 1.5rem);
  padding: 0;
  border: none;
}
.rating__body {
  position: relative;
  inline-size: var(--rating-width);
  block-size: var(--star-size);
  background-color: var(--grey-60);
  mask: url("../icons/cards/rating.svg") repeat-x left center/var(--star-size) var(--star-size);
  -webkit-mask: url("../icons/cards/rating.svg") repeat-x left center/var(--star-size) var(--star-size);
}
.rating__active {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  mask: inherit;
  -webkit-mask: inherit;
}
.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  inset: 0;
}
.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / var(--stars-count));
          flex: 0 0 calc(100% / var(--stars-count));
}
.rating__value {
  color: var(--grey-60);
  font-weight: 500;
  line-height: 1;
  font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
}

.inner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1.25rem;
}
@media (min-width: 35.49875em) {
  .inner__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.inner__main {
  display: grid;
  row-gap: 1.25rem;
  --animation-time: 0.8s;
}
@media (max-height: 87.56125em) and (max-width: 75.06125em) and (min-width: 35.49875em) {
  .loaded .inner__main {
    --animation-delay: 1.6s;
  }
}
@media (min-width: 35.49875em) {
  .inner__main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.inner__sidebar {
  --animation-time: 0.8s;
}
@media (max-height: 87.56125em) and (max-width: 75.06125em) and (min-width: 35.49875em) {
  .loaded .inner__sidebar {
    --animation-delay: 2s;
  }
}
@media (min-width: 35.49875em) {
  .inner__sidebar {
    --animation-delay: 0.4s;
  }
}
.inner__section > * {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.inner__section > :last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.inner__section {
  min-inline-size: 0;
  padding: clamp(1.125rem, -2.219rem + 5.25vw, 3.125rem);
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
  background-color: var(--black-10);
}
.inner__header:has(.inner__navigation) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.inner__header:has(.inner__add-review-btn) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media (max-width: 29.99875em) {
  .inner__header:has(.inner__add-review-btn) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.inner__title {
  font-size: clamp(1.125rem, 0.792rem + 0.7vw, 1.5rem);
  font-weight: 600;
  color: var(--white);
}
.inner__navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.375rem;
}
.inner__navigation-button {
  background-color: var(--black-08);
  border-color: var(--black-15);
}
@media (max-width: 29.99875em) {
  .inner__add-review-btn {
    width: 100%;
  }
}
.inner__seasons {
  display: grid;
  row-gap: 1.25rem;
}

.season-spoiler {
  background-color: var(--black-06);
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--black-15);
  padding-block: clamp(1.125rem, 0.498rem + 0.98vw, 1.5rem);
  padding-inline: clamp(1.125rem, -2.219rem + 5.25vw, 3.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-transition: background-color 0.4s ease-out, opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.4s ease-out, opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.season-spoiler__details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.season-spoiler__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (any-hover: hover) {
  .season-spoiler__summary:hover {
    cursor: pointer;
  }
}
.season-spoiler__summary > .-icon-arrow-block {
  background-color: var(--black-08);
  border-radius: 6.25rem;
  border: 0.0625rem solid var(--black-15);
  inline-size: clamp(2.75rem, 2.306rem + 0.93vw, 3.25rem);
  aspect-ratio: 1/1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  will-change: transform;
  -webkit-transition: background-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media (min-width: 47.99875em) {
  .season-spoiler__summary > .-icon-arrow-block {
    font-size: 1rem;
  }
}
.season-spoiler__title {
  color: var(--white);
  font-size: clamp(1rem, 0.556rem + 0.93vw, 1.5rem);
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
@media (max-width: 21.31125em) {
  .season-spoiler__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.season-spoiler__title > small {
  color: var(--grey-60);
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  font-weight: 500;
}
.season-spoiler__body {
  -webkit-padding-before: 1.875rem;
          padding-block-start: 1.875rem;
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.js-spoiler--active .season-spoiler__summary .-icon-arrow-block {
  color: var(--white);
  background-color: var(--primary-color);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.js-spoiler--active .season-spoiler__body {
  opacity: 1;
}

.episodes-list {
  counter-reset: number;
}

.episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.125rem;
  padding-block: clamp(1.125rem, -1.174rem + 3.61vw, 2.5rem);
}
.episode:first-child {
  -webkit-border-before: 0.0625rem solid var(--black-15);
          border-block-start: 0.0625rem solid var(--black-15);
}
.episode:not(:last-child) {
  -webkit-border-after: 0.0625rem solid var(--black-15);
          border-block-end: 0.0625rem solid var(--black-15);
}
@media (max-width: 63.81125em) {
  .episode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.episode__preview {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}
@media (max-width: 75.06125em) {
  .episode__preview {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 63.81125em) {
  .episode__preview {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
  }
}
.episode__number {
  font-size: clamp(1.125rem, 0.458rem + 1.39vw, 1.875rem);
  font-weight: 600;
}
.episode__number::before {
  content: "";
  counter-increment: number;
  content: counter(number, decimal-leading-zero);
}
.episode__link-image {
  position: relative;
  max-width: 22.5rem;
  aspect-ratio: 320/180;
  border-radius: 0.75rem;
  border: 0.125rem solid var(--black-15);
  overflow: hidden;
  -webkit-transition: border-color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
}
@media (min-width: 63.81125em) {
  .episode__link-image {
    width: clamp(9.125rem, 6.617rem + 3.93vw, 10.625rem);
    aspect-ratio: 170/160;
  }
}
@media (any-hover: hover) {
  .episode__link-image:hover {
    border-color: var(--primary-color);
  }
}
.episode__link-image::before {
  content: "";
  position: absolute;
  z-index: 2;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  opacity: 50%;
}
.episode__link-image::after {
  content: "";
  position: absolute;
  z-index: 5;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 3.125rem;
  block-size: 3.125rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  background: rgba(0, 0, 0, 0.6) url("../icons/play_2.svg") center/1.375rem no-repeat;
}
.episode__link-image img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.episode__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 0.75rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media (min-width: 29.99875em) {
  .episode__header {
    -webkit-margin-after: 0.75rem;
            margin-block-end: 0.75rem;
  }
}
@media (min-width: 75.06125em) {
  .episode__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.episode__title {
  color: var(--white);
  font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
  font-weight: 600;
}
.episode__duration {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.375rem;
  background-color: var(--black-08);
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .episode__duration {
    font-size: 0.875rem;
  }
}
@media (min-width: 101.875em) {
  .episode__duration {
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
  }
}

.read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.375rem;
}
.read-more__content {
  position: relative;
  overflow: hidden;
  max-height: 3.25rem;
  -webkit-transition: max-height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: max-height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.read-more__content::after {
  content: "";
  position: absolute;
  z-index: 3;
  inset-block-end: 0;
  inset-inline-start: 0;
  block-size: 2.125rem;
  inline-size: 100%;
  opacity: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.841)), to(transparent));
  background-image: linear-gradient(to top, rgba(15, 15, 15, 0.841), transparent);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 63.81125em) {
  .read-more__content {
    max-height: 2.625rem;
  }
}
@media (max-width: 29.99875em) {
  .read-more__content::after {
    block-size: 1.25rem;
  }
}
.read-more__button {
  color: var(--white);
  line-height: 1;
  font-size: 0.875rem;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  border-radius: 0.375rem;
}
.read-more.is-open .read-more__content {
  max-height: 13.75rem;
}
.read-more.is-open .read-more__content::after {
  opacity: 0;
}

.photos__swiper-wrapper:has(+ .photos__navigation) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.photos__slide {
  width: 100%;
  aspect-ratio: 470/320;
  border-radius: 0.75rem;
  border: 0.125rem solid var(--black-20);
  overflow: hidden;
}
@media (min-width: 56.06125em) {
  .photos__slide {
    max-width: 29.375rem;
  }
}
.photos__slide img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 47.99875em) {
  .photos__navigation > .section-bottom-navigation__content > .section-bottom-navigation__scrollbar {
    inline-size: 12.5rem;
  }
}

.cast__link {
  max-width: 6.25rem;
  aspect-ratio: 100/110;
  border-radius: 0.75rem;
  border: 0.125rem solid var(--black-20);
  overflow: hidden;
  -webkit-transition: border-color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .cast__link:hover {
    border-color: var(--primary-color);
  }
}
.cast__link img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__swiper-wrapper:has(+ .reviews__navigation) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}

.review {
  width: 100%;
  background-color: var(--black-06);
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
}
@media (min-width: 56.06125em) {
  .review {
    max-width: 29.375rem;
  }
}
.review {
  padding: clamp(1.25rem, 0.139rem + 2.32vw, 2.5rem);
}
.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.review__user-info {
  display: inline-block;
}
.review__name {
  color: var(--white);
  font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
  font-weight: 500;
}
.review__rating {
  justify-self: flex-end;
}

.section-bottom-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-bottom-navigation__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.section-bottom-navigation__button {
  background-color: var(--black-08);
  border-color: var(--black-15);
}

@media (min-height: 81.31125em) and (min-width: 35.49875em) {
  .sidebar {
    position: sticky;
    inset-block-start: 7.5rem;
  }
}
@media (min-height: 81.31125em) and (min-width: 101.93625em) {
  .sidebar {
    position: sticky;
    inset-block-start: 10rem;
  }
}
.sidebar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
  background-color: var(--black-10);
  padding: clamp(1.125rem, -2.219rem + 5.25vw, 3.125rem);
  display: grid;
  row-gap: clamp(1.25rem, 0.695rem + 1.16vw, 1.875rem);
}
@media (min-width: 35.49875em) {
  .sidebar {
    -ms-flex-preferred-size: 26%;
        flex-basis: 26%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 47.99875em) {
  .sidebar {
    -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%; /* 520/1600 */
  }
}
.sidebar__section--border {
  -webkit-padding-after: clamp(1.25rem, 0.695rem + 1.16vw, 1.875rem);
          padding-block-end: clamp(1.25rem, 0.695rem + 1.16vw, 1.875rem);
  -webkit-border-after: 0.1875rem solid var(--black-15);
          border-block-end: 0.1875rem solid var(--black-15);
}
.sidebar__label {
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}
@media (max-width: 47.99875em) {
  .sidebar__label {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.sidebar__label:not(:last-child) {
  -webkit-margin-after: 0.875rem;
          margin-block-end: 0.875rem;
}
.sidebar__text {
  color: var(--white);
  font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
  font-weight: 600;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}
.tags__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tags__link {
  padding: 0.375rem 0.75rem;
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  font-weight: 500;
  color: var(--white);
  background-color: var(--black-08);
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--black-15);
  -webkit-transition: border-color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
}
@media (min-width: 101.93625em) {
  .tags__link {
    padding: 0.5rem 0.875rem;
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .tags__link:hover {
    border-color: var(--primary-color);
  }
}

.rating-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
@media (min-width: 35.49875em) and (max-width: 63.81125em) {
  .rating-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 35.49875em) {
  .rating-sidebar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.rating-sidebar__item {
  padding: 0.75rem;
  color: var(--white);
  background-color: var(--black-08);
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--black-15);
}
@media (min-width: 101.93625em) {
  .rating-sidebar__item {
    padding: 1rem;
  }
}
.rating-sidebar__item {
  -webkit-transition: border-color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .rating-sidebar__item:hover {
    border-color: var(--primary-color);
  }
}
.rating-sidebar__label {
  font-size: clamp(0.875rem, 0.542rem + 0.7vw, 1.25rem);
  font-weight: 600;
}

.person {
  padding: 0.625rem;
  background-color: var(--black-08);
  border-radius: 0.875rem;
  border: 0.0625rem solid var(--black-15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
@media (min-width: 35.49875em) and (max-width: 56.06125em) {
  .person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .person {
    font-size: 0.75rem;
    padding: 0.75rem;
  }
}
@media (min-width: 101.875em) {
  .person {
    font-size: 0.875rem;
    padding: 0.875rem;
  }
}
.person__avatar {
  border-radius: 0.5rem;
  max-inline-size: 5rem;
  aspect-ratio: 1/1;
}
@media (min-width: 35.49875em) and (max-width: 56.06125em) {
  .person__avatar {
    max-inline-size: 100%;
    aspect-ratio: 1/0.8;
  }
}
.person__avatar img {
  border-radius: inherit;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.person__name {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.person__location {
  font-size: 0.875rem;
  font-weight: 500;
}