@import "iconsfont.css";
@import "reset.css";
:root {
  --manrope-font: "Manrope", sans-serif;
  --black-06: #0f0f0f;
  --black-08: #141414;
  --black-09: #171717;
  --black-10: #1a1a1a;
  --black-12: #1f1f1f;
  --black-15: #262626;
  --black-20: #333333;
  --grey-60: #999999;
  --grey-75: #bfbfbf;
  --white: #fefffc;
  --bg-color: #141414;
  --primary-color: #e50000;
  --primary-color-dark: #9d0000;
  --primary-color-50: #ff0000;
  --primary-color-55: #ff1919;
  --primary-color-60: #ff3333;
  --primary-color-80: #ff9999;
  scrollbar-color: var(--primary-color) var(--black-12);
}

::-moz-selection {
  background-color: var(--primary-color-dark);
  color: var(--white);
}

::selection {
  background-color: var(--primary-color-dark);
  color: var(--white);
}

input {
  caret-color: var(--primary-color);
}

body {
  anchor-name: --body-anchor;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--manrope-font);
  color: var(--grey-60);
  background-color: var(--bg-color);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  cursor: url("../icons/cursor.svg"), auto;
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 101.875em) {
  body {
    font-size: 1.125rem;
  }
}
.loaded body {
  opacity: 1;
}

.wrapper {
  min-block-size: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper [data-main] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  padding-inline: 1rem;
}
@media (min-width: 29.99875em) {
  [class*=__container] {
    padding-inline: 1.5rem;
  }
}
@media (min-width: 62.06125em) {
  [class*=__container] {
    max-inline-size: 85rem;
    padding-inline: 2.5rem;
    margin-inline: auto;
  }
}
@media (min-width: 90.06125em) {
  [class*=__container] {
    max-inline-size: 110rem;
    padding-inline: 5rem;
  }
}

[data-main] > * {
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  [data-main] > * {
    -webkit-padding-after: 7.5rem;
            padding-block-end: 7.5rem;
  }
}
@media (min-width: 101.875em) {
  [data-main] > * {
    -webkit-padding-after: 9.375rem;
            padding-block-end: 9.375rem;
  }
}

.padding-start {
  -webkit-padding-before: clamp(6.875rem, 0.765rem + 12.75vw, 13.75rem);
          padding-block-start: clamp(6.875rem, 0.765rem + 12.75vw, 13.75rem);
}

.title {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--white);
  font-weight: 700;
  font-family: var(--manrope-font);
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .title {
    font-size: 1.875rem;
  }
}
@media (min-width: 101.875em) {
  .title {
    font-size: 2.375rem;
  }
}
.title--big {
  font-size: clamp(1.75rem, 0.554rem + 5.1vw, 3rem);
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .title--big {
    font-size: 3rem;
  }
}
@media (min-width: 101.875em) {
  .title--big {
    font-size: 3.625rem;
  }
}
.title--small {
  font-size: 1.125rem;
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .title--small {
    font-size: 1.25rem;
  }
}
@media (min-width: 101.875em) {
  .title--small {
    font-size: 1.5rem;
  }
}

.button {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 600;
  color: var(--white);
  border-radius: 0.625rem;
  will-change: transform;
  -webkit-transition: background-color 0.4s ease-out, -webkit-transform 0.05s ease-out;
  transition: background-color 0.4s ease-out, -webkit-transform 0.05s ease-out;
  transition: background-color 0.4s ease-out, transform 0.05s ease-out;
  transition: background-color 0.4s ease-out, transform 0.05s ease-out, -webkit-transform 0.05s ease-out;
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .button:hover {
    background-color: var(--primary-color);
  }
}
.button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  background-color: var(--primary-color-dark);
  -webkit-transition: background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
  transition: background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
  transition: transform 0.001s ease-in, background-color 0.001s ease-in;
  transition: transform 0.001s ease-in, background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
}
.button--main {
  font-size: clamp(0.875rem, 0.486rem + 0.63vw, 1.125rem);
  line-height: 1.5;
  text-align: center;
  background-color: var(--primary-color);
  padding-block: clamp(1rem, 0.806rem + 0.31vw, 1.125rem);
  padding-inline: 1.5rem;
}
@media (max-width: 29.99875em) {
  .button--main {
    padding: 0.875rem 1.25rem;
  }
}
.button--main:has(span) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
.button--main:has(span) > span {
  font-size: 0.875rem;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 101.875em) {
  .button--main:has(span) > span {
    font-size: 1.0625rem;
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .button--main:hover {
    background-color: var(--primary-color-dark);
  }
}
.button--main-dark {
  background-color: var(--black-08);
  border: 0.0625rem solid var(--black-15);
  padding: 0.875rem 1rem;
}
@media (any-hover: hover) {
  .button--main-dark:hover {
    background-color: var(--primary-color);
  }
}
.button--main-dark:active {
  background-color: var(--primary-color-dark);
}
.button--secondary {
  font-size: clamp(1.125rem, 0.667rem + 0.82vw, 1.5rem);
  inline-size: clamp(2.75rem, 1.834rem + 1.63vw, 3.5rem);
  aspect-ratio: 1/1;
  background-color: var(--black-10);
  border: 0.0625rem solid var(--black-15);
}
.button--secondary:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}
@media (any-hover: hover) {
  .button--secondary:disabled:hover {
    background-color: transparent;
  }
}
.button--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 2.3333333333em;
  aspect-ratio: 1/1;
  font-size: 1.25rem;
  border: 0.0625rem solid var(--black-15);
  background-color: var(--black-10);
}
@media (min-width: 47.99875em) {
  .button--social {
    font-size: 1.5rem;
  }
}
.button--header {
  background-color: transparent;
  inline-size: 1.875rem;
  font-size: 1.25rem;
  aspect-ratio: 1/1;
  border-radius: 0.375rem;
}
@media (min-width: 24.99875em) {
  .button--header {
    font-size: 1.5rem;
    inline-size: 2.5rem;
  }
}
@media (min-width: 47.99875em) {
  .button--header {
    border-radius: 0.5rem;
    font-size: clamp(1.375rem, 0.806rem + 1.19vw, 1.875rem);
    inline-size: clamp(2.375rem, 1.095rem + 2.67vw, 3.5rem);
  }
}
@media (min-width: 75.06125em) {
  .button--header {
    border-radius: 0.625rem;
  }
}

.form-label {
  font-size: clamp(1rem, 0.889rem + 0.23vw, 1.125rem);
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--white);
  -webkit-margin-after: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
          margin-block-end: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
}

.form-style {
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
  padding-block: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
  padding-inline: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--black-15);
  color: var(--grey-60);
  background-color: var(--black-08);
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
}
.form-style:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .form-style:hover {
    border-color: var(--primary-color);
  }
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--black-15);
  background-color: var(--black-06);
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}
.form-checkbox::after {
  content: "";
  opacity: 0;
  inline-size: 0.875rem;
  block-size: 0.875rem;
  background: url(../icons/check.svg) center/100% no-repeat;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .form-checkbox:hover {
    border: 0.0625rem solid var(--primary-color);
    cursor: pointer;
  }
}
.form-checkbox:checked {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border: 0.0625rem solid var(--primary-color);
}
.form-checkbox:checked::after {
  opacity: 1;
}

.animation {
  --animation-time: 0.6s;
  --animation-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  --fade-up-value: 1.25rem;
  --fade-right-value: 8.75rem;
  --scale-up-value: 0.8;
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transition: opacity var(--animation-time) var(--animation-function), -webkit-transform var(--animation-time) var(--animation-function);
  transition: opacity var(--animation-time) var(--animation-function), -webkit-transform var(--animation-time) var(--animation-function);
  transition: opacity var(--animation-time) var(--animation-function), transform var(--animation-time) var(--animation-function);
  transition: opacity var(--animation-time) var(--animation-function), transform var(--animation-time) var(--animation-function), -webkit-transform var(--animation-time) var(--animation-function);
  -webkit-transition-delay: var(--animation-delay, 0s);
          transition-delay: var(--animation-delay, 0s);
}
.animation--fade-up {
  -webkit-transform: translateY(var(--fade-up-value));
          transform: translateY(var(--fade-up-value));
}
.animation--fade-up-mobile {
  -webkit-transform: translateY(var(--fade-up-value));
          transform: translateY(var(--fade-up-value));
}
@media (max-width: 35.49875em) {
  .animation--fade-up-mobile {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.animation--fade-right {
  -webkit-transform: translateX(var(--fade-right-value));
          transform: translateX(var(--fade-right-value));
}
.animation--scale-up {
  -webkit-transform: scale(var(--scale-up-value));
          transform: scale(var(--scale-up-value));
}
.animate .animation {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.animation.animate {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.section-header:has(.section-header__content:not(:last-child)) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(1.875rem, 0.349rem + 2.72vw, 3.125rem);
}
@media (max-width: 47.99875em) {
  .section-header:has(.section-header__button, .plan-switcher) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: clamp(1.25rem, 0.494rem + 2.88vw, 1.875rem);
  }
}
.section-header:not(:has(.section-header__content)) {
  max-inline-size: 80rem;
}
.section-header:has(.section-header__title + .section-header__navigation) {
  max-inline-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(1.875rem, 0.349rem + 2.72vw, 3.125rem);
}
.section-header--margin:not(:last-child) {
  -webkit-margin-after: clamp(2.5rem, 1.46rem + 3.48vw, 5rem);
          margin-block-end: clamp(2.5rem, 1.46rem + 3.48vw, 5rem);
}
.section-header--margin-catalog:not(:last-child) {
  -webkit-margin-after: clamp(1.25rem, 0.47rem + 2.61vw, 3.125rem);
          margin-block-end: clamp(1.25rem, 0.47rem + 2.61vw, 3.125rem);
}
@media (min-width: 47.99875em) {
  .section-header__content:not(:last-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80rem;
            flex: 0 1 80rem;
  }
}
@media (max-width: 47.99875em) {
  .section-header__content--text-center {
    text-align: center;
  }
}
.section-header__title {
  color: var(--white);
  font-size: clamp(1.25rem, 0.616rem + 2.36vw, 1.75rem);
  font-weight: 700;
}
@media (min-width: 48.06125em) and (max-width: 101.87375em) {
  .section-header__title {
    font-size: clamp(1.75rem, 1.192rem + 1.16vw, 2.375rem);
  }
}
@media (min-width: 101.87375em) {
  .section-header__title {
    font-size: 2.375rem;
  }
}
.section-header__title:has(+ .section-header__text) {
  -webkit-margin-after: 0.3684210526em;
          margin-block-end: 0.3684210526em;
}
.section-header__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 47.99875em) {
  .section-header__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 29.99875em) {
  .section-header__button {
    inline-size: 100%;
  }
}
.section-header__button--center {
  -ms-flex-item-align: center;
      align-self: center;
}
.trial {
  --animation-time: 0.8s;
}
.trial__header-section {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.trial__content {
  position: relative;
  overflow: hidden;
  padding-block: clamp(3.125rem, -0.011rem + 10.45vw, 5rem);
  padding-inline: 1.875rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--black-15);
}
@media (min-width: 47.99875em) and (max-width: 101.87375em) {
  .trial__content {
    padding-block: clamp(5rem, 3.332rem + 3.48vw, 6.875rem);
    padding-inline: clamp(3.75rem, 2.638rem + 2.32vw, 5rem);
  }
}
@media (min-width: 101.875em) {
  .trial__content {
    padding: 6.875rem 5rem;
  }
}
.trial__header-section {
  position: relative;
  z-index: 5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.trial__background {
  position: absolute;
  z-index: -1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}
.trial__background::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.42%, var(--black-06)), color-stop(25.46%, rgba(20, 15, 15, 0.97)), color-stop(52.72%, rgba(34, 14, 14, 0.91)), color-stop(182.98%, rgba(229, 0, 0, 0)));
  background: linear-gradient(90deg, var(--black-06) 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 52.72%, rgba(229, 0, 0, 0) 182.98%);
}
.trial__background img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 100;
  inline-size: 100%;
  -webkit-margin-before: -9.375rem;
          margin-block-start: -9.375rem;
  -webkit-transition: -webkit-margin-before 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-margin-before 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: margin-block-start 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: margin-block-start 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-margin-before 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  anchor-name: --header-anchor;
}
.loaded .header {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
}
.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
          box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
  -webkit-border-after: 0.125rem solid var(--black-12);
          border-block-end: 0.125rem solid var(--black-12);
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header.scrolled::after {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 1;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  padding-block: clamp(0.875rem, 0.59rem + 0.59vw, 1.125rem);
}
@media (min-width: 47.99875em) {
  .header__container {
    grid-template-columns: 1fr auto 1fr;
  }
}
.header__logo {
  position: relative;
  z-index: 20;
  border-radius: 0.5rem;
  inline-size: 6.875rem;
  aspect-ratio: 200/60;
}
@media (min-width: 24.99875em) {
  .header__logo {
    inline-size: 8.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 90.06125em) {
  .header__logo {
    inline-size: clamp(7.5rem, 1.794rem + 11.89vw, 12.5rem);
  }
}
@media (min-width: 90.06125em) {
  .header__logo {
    inline-size: 12.5rem;
  }
}
.header__logo img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 47.99875em) {
  .menu {
    background-color: var(--black-06);
    padding: clamp(0.25rem, -0.178rem + 0.89vw, 0.625rem);
    border-radius: clamp(0.75rem, 0.417rem + 0.7vw, 1.125rem);
    border: 0.25rem solid var(--black-12);
  }
}
@media (min-width: 90.06125em) {
  .menu {
    padding: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    z-index: 15;
    inline-size: 100%;
    block-size: 100%;
    top: 0;
    left: 100%;
    padding: 10rem 1.25rem 2.5rem;
    overflow: auto;
    -webkit-transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
@media (max-width: 47.99875em) and (max-width: 24.99875em) {
  .menu {
    padding: 6.25rem 1.25rem 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .menu::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 100%;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(1rem);
    -webkit-transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .menu::before {
    content: "";
    position: fixed;
    z-index: 11;
    top: 0;
    left: 100%;
    inline-size: 100%;
    block-size: 4.59375rem;
    background-color: var(--bg-color);
    -webkit-border-after: 0.0625rem solid var(--primary-color-dark);
            border-block-end: 0.0625rem solid var(--primary-color-dark);
    -webkit-transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1rem;
  }
}
.menu__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__link {
  font-size: 1.5rem;
  padding: 0.875rem 1.25rem;
  color: var(--grey-75);
  border-radius: clamp(0.375rem, 0.264rem + 0.23vw, 0.5rem);
  will-change: transform;
  -webkit-transition: color 0.4s ease-out, background-color 0.4s ease-out, -webkit-transform 0.05s ease-out;
  transition: color 0.4s ease-out, background-color 0.4s ease-out, -webkit-transform 0.05s ease-out;
  transition: color 0.4s ease-out, background-color 0.4s ease-out, transform 0.05s ease-out;
  transition: color 0.4s ease-out, background-color 0.4s ease-out, transform 0.05s ease-out, -webkit-transform 0.05s ease-out;
}
@media (min-width: 47.99875em) {
  .menu__link {
    font-size: clamp(0.875rem, 0.022rem + 1.78vw, 1.125rem);
    padding-block: clamp(0.5rem, 0.072rem + 0.89vw, 0.875rem);
    padding-inline: clamp(0.75rem, -0.106rem + 1.78vw, 1.5rem);
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .menu__link:hover:not(.menu__link--active) {
    color: var(--white);
    background-color: var(--primary-color);
  }
}
.menu__link:active:not(.menu__link--active) {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  background-color: var(--primary-color-dark);
  -webkit-transition: background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
  transition: background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
  transition: transform 0.001s ease-in, background-color 0.001s ease-in;
  transition: transform 0.001s ease-in, background-color 0.001s ease-in, -webkit-transform 0.001s ease-in;
}
.menu__link--active {
  color: var(--white);
  background-color: var(--black-10);
}
@media (max-width: 47.99875em) {
  .menu__link--active {
    background-color: var(--black-15);
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .menu__link--active:hover {
    color: var(--grey-75);
    cursor: default;
  }
}

.actions-header {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(0.5rem, -1.069rem + 3.27vw, 1.875rem);
     -moz-column-gap: clamp(0.5rem, -1.069rem + 3.27vw, 1.875rem);
          column-gap: clamp(0.5rem, -1.069rem + 3.27vw, 1.875rem);
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  background: url("../icons/delete.svg") 0 0/100% no-repeat;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  input[type=search]::-webkit-search-cancel-button {
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }
}

.dropdown {
  position: relative;
}
.dropdown__content--search {
  position: fixed;
  position-anchor: --header-anchor;
  top: calc(anchor(bottom) + -0.75rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  padding: clamp(0.625rem, 0.292rem + 0.7vw, 1rem);
  background-color: var(--black-10);
  border-radius: 0.75rem;
  border: 0.125rem solid var(--black-15);
  -webkit-box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
          box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 47.99875em) {
  .dropdown__content--search {
    width: 80%;
  }
}
@media (max-width: 29.99875em) {
  .dropdown__content--search {
    width: 90%;
  }
}
.dropdown.active > .dropdown__button + .dropdown__content--search {
  opacity: 1;
  top: calc(anchor(bottom) + 0.75rem);
  visibility: visible;
  pointer-events: auto;
}
.dropdown.active > .dropdown__button {
  background-color: var(--primary-color-dark);
}

@media (min-width: 47.99875em) {
  .modal {
    min-width: 27.5rem;
  }
}
.modal {
  opacity: 0;
  position: fixed;
  margin: auto;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  padding: clamp(1.125rem, 0.725rem + 1.13vw, 1.875rem);
  background-color: var(--black-10);
  border-radius: 0.75rem;
  border: 0.125rem solid var(--black-15);
  -webkit-box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
          box-shadow: 0rem 0.0625rem 1.875rem var(--black-06);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modal::-ms-backdrop {
  background-color: transparent;
  backdrop-filter: blur(0);
  -ms-transition: backdrop-filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: backdrop-filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modal::backdrop {
  background-color: transparent;
  backdrop-filter: blur(0);
  -webkit-transition: backdrop-filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: backdrop-filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modal.is-open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal.is-open::-ms-backdrop {
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(1rem);
}
.modal.is-open::backdrop {
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(1rem);
}
@media (max-width: 47.99875em) {
  .modal {
    width: 60%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
  }
}
@media (max-width: 35.49875em) {
  .modal {
    width: 80%;
  }
}
@media (max-width: 29.99875em) {
  .modal {
    width: 90%;
  }
}
.modal__button-closed {
  position: absolute;
  inset-block-start: 0.75rem;
  inset-inline-end: 0.75rem;
  z-index: 5;
  inline-size: clamp(1.25rem, 1.042rem + 0.7vw, 1.75rem);
  aspect-ratio: 1/1;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
}
.modal__button-closed.-icon-plus::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__header:not(:last-child) {
  -webkit-margin-after: clamp(0.875rem, 0.675rem + 0.56vw, 1.25rem);
          margin-block-end: clamp(0.875rem, 0.675rem + 0.56vw, 1.25rem);
}
.modal__title {
  color: var(--white);
  font-size: clamp(1.5rem, 0.945rem + 1.16vw, 2.125rem);
  font-weight: 700;
}
.modal__text {
  color: var(--grey-60);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}
@media (max-width: 29.99875em) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.search__style {
  padding-block: clamp(0.625rem, 0.292rem + 0.7vw, 1rem);
  color: var(--grey-75);
  background-color: var(--black-06);
}
.search__button {
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  width: 100%;
}
@media (min-width: 29.99875em) {
  .search__button {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    padding-block: 0.25rem;
    width: auto;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(0.875rem, 0.675rem + 0.56vw, 1.25rem);
}
.login__label {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.login__input {
  position: relative;
}
.login__icon {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 3.989362%; /* 15/376 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  inline-size: 1.25rem;
  block-size: 1.25rem;
  pointer-events: none;
}
.login__icon--at {
  background: url("../icons/at-symbol.svg") center/1.125rem no-repeat;
}
.login__icon--lock {
  background: url("../icons/lock.svg") center/0.9375rem no-repeat;
}
.login__style {
  -webkit-padding-start: 2.875rem;
          padding-inline-start: 2.875rem;
}
.login__button {
  padding-block: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
}
.login__signup {
  text-align: center;
}

.options-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
@media (max-width: 21.31125em) {
  .options-login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.options-login__checkbox-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
}

.login-link {
  color: var(--white);
  font-weight: 500;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
@media (any-hover: hover) {
  .login-link:hover {
    color: var(--primary-color);
  }
}

.menu-icon {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--black-10);
  border-radius: 0.5rem;
  border: 0.1875rem solid var(--black-15);
  -webkit-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1), box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1), box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (min-width: 47.99875em) {
  .menu-icon {
    display: none;
  }
}
.menu-icon__button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.46875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.0125rem;
  color: var(--white);
  outline-offset: 0.5rem;
  inline-size: 1.5rem;
  block-size: 1.5rem;
}
.menu-icon__button span, .menu-icon__button::before, .menu-icon__button::after {
  content: "";
  inline-size: 100%;
  block-size: 0.1875rem;
  background-color: var(--white);
  border-radius: 0.375rem;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.menu-icon__button::before, .menu-icon__button::after {
  inline-size: 80%;
}

.menu-open .menu,
.menu-open .menu::before,
.menu-open .menu::after {
  left: 0;
}
.menu-open .menu-icon {
  background-color: var(--primary-color);
  -webkit-box-shadow: 0rem 0rem 0.625rem rgba(229, 0, 0, 0.25);
          box-shadow: 0rem 0rem 0.625rem rgba(229, 0, 0, 0.25);
}
.menu-open .menu-icon__button span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}
.menu-open .menu-icon__button::before {
  inline-size: 100%;
  -webkit-transform: translateY(0.675rem) rotate(45deg);
          transform: translateY(0.675rem) rotate(45deg);
}
.menu-open .menu-icon__button::after {
  inline-size: 100%;
  -webkit-transform: translateY(-0.625rem) rotate(-45deg);
          transform: translateY(-0.625rem) rotate(-45deg);
  -webkit-box-shadow: 0 0 0.375rem rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 0.375rem rgba(51, 51, 51, 0.6);
}

@-webkit-keyframes LineAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes LineAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.footer {
  background-color: var(--black-06);
  padding-block: 6.25rem 3.125rem;
}
.footer .footer__column {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer .copyright-footer {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer.animate .footer__columns::after {
  -webkit-animation: LineAnimation 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s forwards;
          animation: LineAnimation 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s forwards;
}
.footer.animate .footer__column {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.footer.animate .footer__column:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.footer.animate .footer__column:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.footer.animate .footer__column:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.footer.animate .footer__column:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.footer.animate .footer__column:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.footer.animate .footer__column:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.footer.animate .copyright-footer {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.footer__columns {
  position: relative;
  display: grid;
  row-gap: 1.875rem;
  -webkit-padding-after: 3.125rem;
          padding-block-end: 3.125rem;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.footer__columns::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 0.0625rem;
  background-color: var(--black-15);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
@media (min-width: 25em) {
  .footer__columns {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (min-width: 47.99875em) {
  .footer__columns {
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
}
@media (min-width: 39.37375em) {
  .footer__columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 62.06125em) {
  .footer__columns {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.875rem;
  }
}
@media (min-width: 81.31125em) {
  .footer__columns {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 101.875em) {
  .footer__columns {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
    -webkit-margin-after: 1.5625rem;
            margin-block-end: 1.5625rem;
  }
}
@media (max-width: 24.99875em) {
  .footer__column {
    text-align: center;
  }
}
.footer__column-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
}
@media (max-width: 24.99875em) {
  .footer__column-title:not(:last-child) {
    -webkit-margin-after: 0.875rem;
            margin-block-end: 0.875rem;
  }
}
.footer__column-title:not(:last-child) {
  -webkit-margin-after: 1.2em;
          margin-block-end: 1.2em;
}
.footer__column-item:not(:last-child) {
  -webkit-margin-after: 0.7777777778em;
          margin-block-end: 0.7777777778em;
}
.footer__column-link {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (any-hover: hover) {
  .footer__column-link:hover {
    color: var(--white);
  }
}
.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
}
.footer__social-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.copyright-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (min-width: 41.24875em) {
  .copyright-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.copyright-footer__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2.2222222222em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 24.99875em) {
  .copyright-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.copyright-footer__item {
  position: relative;
}
.copyright-footer__item:not(:last-child)::after {
  content: "";
  inline-size: 0.125rem;
  block-size: 100%;
  background-color: var(--black-15);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -1.1111111111em;
}
@media (max-width: 24.99875em) {
  .copyright-footer__item:not(:last-child)::after {
    display: none;
  }
}
.copyright-footer__link {
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
@media (any-hover: hover) {
  .copyright-footer__link:hover {
    color: var(--white);
  }
}