@font-face {
	font-family: 'ITC Avant Garde Gothic Std';
	src: url(../fonts/ITCAvantGardeStd-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ITC Avant Garde Std Bk';
	src: url(../fonts/ITCAvantGardeStd-Demi.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ITC Avant Garde Gothic Std';
	src: url(../fonts/ITCAvantGardeStd-Md.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

