
:root {
//* -- variables - - - -
	
	--absolute-white: #fff;

	--primary-color: #D9EF78;
	--primary-color-dark: #213D34;

	--light: #F1F2ED;
	--beige: #F8F5EF;

	--syne: "Syne", sans-serif;
}