//* - - navigation-header-component - - - - - - - - - - - - -
.navigation-header {
	align-self: flex-end;
	padding: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
	// viewport from 1630 to 896 / values from 16 to 12
	@include borderStyle(16, 1, var(--black-12));
	// radius / border-width / color / style

	background-color: var(--black-06);

	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: clamp(0.75rem, 0.445rem + 0.54vw, 1rem);
	// viewport from 1630 to 896 / values from 16 to 12

	&--bullets-container {
		display: grid;
		grid-template-columns: auto clamp(10.625rem, calc(-6.6667vw + 17.4167rem), 12.5rem) auto;
		// viewport from 1180 to 1630 / values from 170 to 200
	}

	@media (max-width: toEm(896.98)) {
		display: none;
	}
	// .navigation-header__button
	&__button {
		flex-shrink: 0;
	}
}

//* - - card-component - - - - - - - - - - - - -
.card {
	@include borderStyle(12, 1, var(--black-15));
	// radius / border-width / color / style
	background-color: var(--black-10);

	transition:
		box-shadow 0.4s ease-out,
		border-color 0.4s ease-out;

	@media (min-width: toEm(767.98)) {
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
				// box-shadow: 0 0 toRem(20) rgba(229, 0, 0, 0.85);
				border-color: var(--primary-color);
			}
			&:hover .card-footer__button {
				background-color: var(--primary-color);
			}
		}
	}

	&--categories-padding {
		padding: clamp(1.25rem, 0.695rem + 1.16vw, 1.875rem);
		// viewport from 767 to 1630 / values from 20 to 30
	}
	&--poster-padding {
		padding: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
		// viewport from 767 to 1630 / values from 12 to 20
	}

	// .card__images
	&__images {
		&--categories {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				inset-block-end: toRem(-1);
				inset-inline-start: 0;

				@include sizesToPercent(100%);
				// inline-size% / block-size%

				background: linear-gradient(180deg, rgba(26, 26, 26, 0), rgba(26, 26, 26, 1) 100%);
			}

			&:not(:last-child) {
				margin-block-end: toRem(4);
			}
		}

		&--categories-small {
			display: grid;
			grid-template-columns: repeat(2, clamp(4.25rem, 2.195rem + 4.29vw, 6.563rem));
			// viewport from 767 to 1630 / values from 68 to 105
			gap: toRem(10);

			// grid-template-rows: repeat(2, clamp(4.25rem, 1.195rem + 6.37vw, 7.688rem));
			// viewport from 767 to 1630 / values from 68 to 123

			> .card__image {
				aspect-ratio: 105 / 123;
				border-radius: clamp(0.375rem, 0.153rem + 0.46vw, 0.625rem);
				// viewport from 767 to 1630 / values from 6 to 10
				overflow: hidden;

				img {
					@include sizesToPercent(100%);
					object-fit: cover;
				}
			}
		}

		&--categories-big {
			display: grid;
			grid-template-columns: repeat(2, clamp(5.625rem, 2.792rem + 5.91vw, 8.813rem));
			// viewport from 767 to 1630 / values from 90 to 141
			gap: toRem(10);

			> .card__image {
				aspect-ratio: 141 / 121;
				border-radius: toRem(6);
				overflow: hidden;
				img {
					@include sizesToPercent(100%);
					object-fit: cover;
				}
			}
		}

		&--home-page {
			grid-template-columns: repeat(2, clamp(4.188rem, 1.521rem + 5.56vw, 7.188rem));
			// viewport from 767 to 1630 / values from 68 to 115
		}
	}

	// .card__image
	.card__image {
		&--poster {
			inline-size: clamp(9.813rem, 5.035rem + 9.97vw, 15.188rem);
			// viewport from 767 to 1630 / values from 157 to 243
			aspect-ratio: 243 / 281;

			border-radius: clamp(0.625rem, 0.514rem + 0.23vw, 0.75rem);
			// viewport from 767 to 1630 / values from 10 to 12
			overflow: hidden;

			&:not(:last-child) {
				margin-block-end: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
				// viewport from 767 to 1630 / values from 12 to 20
			}

			img {
				@include sizesToPercent(100%);
				object-fit: cover;
			}
		}

		&--poster-big {
			inline-size: clamp(12.938rem, 6.661rem + 13.09vw, 20rem);
			// viewport from 767 to 1630 / values from 207 to 320
			aspect-ratio: 320 / 404;

			border-radius: clamp(0.625rem, 0.514rem + 0.23vw, 0.75rem);
			// viewport from 767 to 1630 / values from 10 to 12
			overflow: hidden;

			&:not(:last-child) {
				margin-block-end: clamp(0.75rem, 0.306rem + 0.93vw, 1.25rem);
				// viewport from 767 to 1630 / values from 12 to 20
			}

			img {
				@include sizesToPercent(100%);
				object-fit: cover;
			}
		}
	}
}
.card-footer {
	&--categories-small {
		// flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(6);
		// flex-wrap: wrap;

		> .card-footer__title {
			font-size: clamp(0.875rem, 0.542rem + 0.7vw, 1.25rem);
			// viewport from 767 to 1630 / values from 14 to 20
			color: var(--white);
			font-weight: 600;
		}
	}

	&--categories-big {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> .card-footer__column {
			> .card-footer__title {
				font-size: clamp(1rem, 0.778rem + 0.46vw, 1.25rem);
				// viewport from 767 to 1630 / values from 16 to 20
				color: var(--white);
				font-weight: 600;
			}
		}
	}

	&--poster {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(14);
	}

	&__duration {
		padding: toRemValues(4 6);
		@include borderStyle(50, 1, var(--black-15));
		// radius / border-width / color / style

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: toRem(4);

		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
		// viewport from 767 to 1630 / values from 12 to 16
		line-height: 1;

		@media (min-width: toEm(767.98)) {
			padding: toRemValues(6 8);
		}

		> .-icon-time {
			font-size: clamp(0.875rem, 0.597rem + 0.58vw, 1.188rem);
			// viewport from 767 to 1630 / values from 14 to 19
		}
	}

	&__views {
		padding: toRemValues(4 6);
		@include borderStyle(50, 1, var(--black-15));
		// radius / border-width / color / style

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: toRem(4);

		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
		// viewport from 767 to 1630 / values from 12 to 16
		line-height: 1;

		@media (min-width: toEm(767.98)) {
			padding: toRemValues(6 8);
		}

		> .icon-views {
			font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
			// viewport from 767 to 1630 / values from 12 to 16
		}
	}

	&__release {
		padding: toRemValues(4 6);
		@include borderStyle(50, 1, var(--black-15));
		// radius / border-width / color / style

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: toRem(4);

		width: 100%;
		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
		// viewport from 767 to 1630 / values from 12 to 16
		line-height: 1;

		@media (min-width: toEm(767.98)) {
			padding: toRemValues(6 8);
		}
		> .card-footer__release-text-gray {
			color: var(--grey-75);
			font-weight: 500;
		}
	}

	// card-footer__column
	&__column {
		display: flex;
		flex-direction: column;
	}

	// .card-footer__label
	&__label {
		align-self: flex-start;
		padding: clamp(0.375rem, 0.153rem + 0.46vw, 0.625rem);
		// viewport from 767 to 1630 / values from 10 to 6
		border-radius: toRem(6);

		@include colorScheme(var(--white), var(--primary-color));
		// color / background-color

		text-align: center;
		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
		// viewport from 767 to 1630 / values from 16 to 12
		line-height: 1;
		font-weight: 600;

		margin-block-end: toRem(4);
	}

	// .card-footer__button
	&__button {
		flex-shrink: 0;
		&--categories {
			inline-size: toRem(20);
			aspect-ratio: 1 / 1;
			border-radius: toRem(6);

			font-size: toRem(12);
			color: var(--white);

			display: inline-flex;
			justify-content: center;
			align-items: center;

			transition: background-color 0.4s ease-out;

			@media (min-width: toEm(767.98)) {
				inline-size: toRem(24);
				font-size: toRem(15);
			}

			@media (min-width: toEm(1630)) {
				inline-size: toRem(30);
				font-size: toRem(18);
			}
		}
	}
}