//* - - rating-component - - - - - - - - - - - - -
.rating {
	--star-size: clamp(0.875rem, 0.653rem + 0.46vw, 1.125rem);
	// viewport from 767 to 1630 / values from 14 to 18
	--stars-count: 5;
	--rating-width: calc(var(--star-size) * var(--stars-count));

	padding: toRemValues(4.4 6);
	@include borderStyle(50, 1, var(--black-15));

	display: flex;
	align-items: center;
	column-gap: toRem(4);
	line-height: 1;

	@media (min-width: toEm(767.98)) {
		padding: toRemValues(6 8);
	}

	// .rating--big
	&--big {
		--star-size: clamp(1.125rem, 0.792rem + 0.7vw, 1.5rem);
		// viewport from 767 to 1630 / values from 18 to 24

		padding: 0;
		// border-radius: 0;
		border: none;
	}

	// .rating__body
	&__body {
		position: relative;

		inline-size: var(--rating-width);
		block-size: var(--star-size);

		background-color: var(--grey-60);

		mask: url("../icons/cards/rating.svg") repeat-x left center / var(--star-size) var(--star-size);

		-webkit-mask: url("../icons/cards/rating.svg") repeat-x left center / var(--star-size) var(--star-size);
	}

	// .rating__active
	&__active {
		position: absolute;
		inset: 0;
		overflow: hidden;

		background-color: var(--primary-color);

		mask: inherit;
		-webkit-mask: inherit;
	}

	// .rating__items
	&__items {
		display: flex;
		position: absolute;
		inset: 0;
	}

	// .rating__item
	&__item {
		flex: 0 0 calc(100% / var(--stars-count));
		// opacity: 0;
	}

	// .rating__value
	&__value {
		color: var(--grey-60);
		font-weight: 500;
		line-height: 1;
		font-size: clamp(0.75rem, 0.528rem + 0.46vw, 1rem);
		// viewport from 767 to 1630 / values from 12 to 16
	}
}